body {
    background: LightCyan;
    margin: 0px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-shadow: -1px -1px 0 DarkRed,
                1px -1px 0 LightCyan,
                -1px 1px 0 LightCyan,
                1px 1px 0 LightCyan,
                -1.5px 0px 0 LightCyan,
                1.5px 0px 0 LightCyan,
                0px -1.5px 0 LightCyan,
                0px 1.5px 0 LightCyan;
    color: rgb(0, 50, 100);
    background-image: url("images/skeleton (2).gif");
    background-attachment: fixed;
    background-size: 20%;
    animation: scroll 100s linear infinite, cursor 0.75s linear infinite;
}

.bigText
{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-shadow: -2px -2px 0 DarkRed,
                2px -2px 0 LightCyan,
                -2px 2px 0 LightCyan,
                2px 2px 0 LightCyan,
                -3px 0px 0 LightCyan,
                3px 0px 0 LightCyan,
                0px -3px 0 LightCyan,
                0px 3px 0 LightCyan;
}

div.header {
    background: rgb(100, 175, 200, 0.8);
    border: rgb(85, 135, 160);
    border-width: 5px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer {
    background: rgb(100, 175, 200, 0.8);
    border: rgb(85, 135, 160);
    border-width: 5px;
    border-style: dashed;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

ul.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-around;
}

ul.navbar li {
    padding: 10px 10px;
    margin: 10px 20px;
    font-weight: 700;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 0.2em;
    background-color: rgb(32, 32, 32, 0.2);
    border-radius: 25px;
    border: rgb(16, 16, 16, 0.2);
    border-style: groove;
    border-width: 5px;
}

ul.navbar li a:hover {
    color: green;
    padding: 10px 0px;
    font-weight: 1000;
    letter-spacing: 0.3em;
}

a {
    text-decoration: none;
}

section.box {
    background: url("images/sparkle.gif");
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 5px 20px black
}

.rowbox {
    background: url("images/sparkle.gif");
    width: 80%;
    margin: 1.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 
.cursor,
.sword {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url("images/backupCursor.png");
    opacity: 0.25;
    transition: opacity 0.25s ease, transform 0.15s ease;
} 
.sword.fade {
    opacity: 0;
    transform: scale(0.25);
}
*/

a:hover {
    animation: pointer 0.75s linear infinite;
}

#jumping {
    width: 400%;
    max-width: 600px;
    border: none;
}

img.fire {
    width: 50px;
    border: none;
    height: 50px;
}

img.tramp {
    width: 45%;
    padding: 150px;
    border: none;
}

img.corpus {
    width: 35%;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: calc(100% - 10px);
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
}

figure.display {
    background: url("images/sparkle.gif");
    max-width: 50%;
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;
}

figcaption {
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

iframe.video {
    width: calc(50vw - 16px);
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    height: 24.93vw;
}

@keyframes scroll {
    from {
    background-position: 0 0;
    }
    to {
    background-position : 100% 20%;
    }
}

@keyframes cursor
{
    0% {
        cursor: url("images/cursor1.png"), auto;
    }
    25% {
        cursor: url("images/cursor2.png"), auto;
    }
    50% {
        cursor: url("images/cursor3.png"), auto;
    }
    75% {
        cursor: url("images/cursor4.png"), auto;
    }
    100% {
        cursor: url("images/cursor5.png"), auto;
    }
}

@keyframes pointer
{
    0% {
        cursor: url("images/pointer1.png"), auto;
    }
    25% {
        cursor: url("images/pointer2.png"), auto;
    }
    50% {
        cursor: url("images/pointer3.png"), auto;
    }
    75% {
        cursor: url("images/pointer4.png"), auto;
    }
    100% {
        cursor: url("images/pointer5.png"), auto;
    }
}