body {
    background: LightCyan;
    margin: 0px;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: rgb(0,50,100);
}

div.header {
    background: rgb(100, 175, 200);
    border: rgb(85, 135, 160);
    border-width: 5px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer {
    background: rgb(100, 175, 200);
    border: rgb(85, 135, 160);
    border-width: 5px;
    border-style: dashed;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

section.box {
    background: LightSkyBlue;
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content: center;
}

div.side-by-side {
    display: flex;
}

img {
    width: 400%;
    max-width: 600px;
}

img.smallTramp {
    width:400%;
    max-width: 300px;
    padding: 150px;
}

img.bigTramp {
    width: 400%;
    max-width: 600px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}