body {
    background: LightCyan;
    margin: 0px;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: rgb(0, 50, 100);
    background-image: url("images/skeleton (2).gif");
    background-attachment: fixed;
    background-size: 20%;
    animation: scroll 100s linear infinite, cursor 0.75s linear infinite;
}

div.header {
    background: rgb(100, 175, 200);
    border: rgb(85, 135, 160);
    border-width: 5px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer {
    background: rgb(100, 175, 200);
    border: rgb(85, 135, 160);
    border-width: 5px;
    border-style: dashed;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

section.box {
    background: url("images/sparkle.gif");
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

div.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

a:hover {
    animation: pointer 0.75s linear infinite;
}

#jumping {
    width: 400%;
    max-width: 600px;
    border: none;
}

img.tramp {
    width: 400%;
    max-width: 600px;
    padding: 150px;
    border: none;
}

img {
    width: 400%;
    max-width: 600px;
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
}

figure.display {
    background: url("images/sparkle.gif");
    border: rgb(51, 153, 255);
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
}

figcaption {
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

@keyframes scroll {
    from {
    background-position: 0 0;
    }
    to {
    background-position : 100% 20%;
    }
}

@keyframes cursor
{
    0% {
        cursor: url("images/cursor1.png"), auto;
    }
    25% {
        cursor: url("images/cursor2.png"), auto;
    }
    50% {
        cursor: url("images/cursor3.png"), auto;
    }
    75% {
        cursor: url("images/cursor4.png"), auto;
    }
    100% {
        cursor: url("images/cursor5.png"), auto;
    }
}

@keyframes pointer
{
    0% {
        cursor: url("images/pointer1.png"), auto;
    }
    25% {
        cursor: url("images/pointer2.png"), auto;
    }
    50% {
        cursor: url("images/pointer3.png"), auto;
    }
    75% {
        cursor: url("images/pointer4.png"), auto;
    }
    100% {
        cursor: url("images/pointer5.png"), auto;
    }
}